vti_encoding:SR|utf8-nl
http\://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab:index.html
mailto\:rcisco@extremepowersolutions.com:i_b_e\\ p.htm i_b_e\\ i.htm contact.htm index.html i_b_e\\ a.htm confirm.htm
industrial.htm:index.html
altenergy.htm:index.html
clsid\:d27cdb6e-ae6d-11cf-96b8-444553540000:index.html
